/* Body */

body {
    background-color: antiquewhite;
}

/* Navbar */

.nav {
    background-color: #333;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
  
.navbar-brand {
    font-weight: bold;
    color: yellow;
}

/* Task-List */

.list-title {
    text-align: center;
    white-space: nowrap;
}

.task-list {
    background-color: #dfdfdf;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    height: 260px;
    padding: 10px;
    box-shadow: 2px 4px #888888;
}

.task {
    background: rgb(250, 250, 250);
    list-style-type: none;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom-style: dotted;
    border-color: rgb(58 58 227);
    display: flex;
    justify-content: space-between;
}

.done {
    background: #CCC;
}

.task:hover {
    background-color: #CCC;
}

.task-link {
    margin-left: 10px;
}

/* Paginação */

.pagination {
    position: fixed;
    bottom: 10px;
    width: 100%;
}
  
.step-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}


/* Icons */

.icons-container {
    margin-right: 10px;
}

.fa-trash {
    color: #ff0000ba;
}

.fa-edit {
    color: #ef9525;
}

.doing .fa-check {
    color: #a2a6ad;
  }

/* Messages */

ul.messages {
    padding: 0;
    width: 20%;
    position: fixed;
    bottom: 1%;
    right: 1%;
}
  
ul.messages li {
    list-style: none;
}

/* Login e Registro */

.card-body {
    box-shadow: 2px 4px #888888;
}

.row, .change-form {
    margin-top: 5%;
    margin-bottom: 10%;
}

.register-link {
    margin-top: 10px;
}