{% extends 'base.html' %}

{% block title %}HelloWorld{% endblock %}

{% block content %}
<div>
    <h1 class="list-title">Lista de Tarefas</h1>
    <a href="create" class="btn btn-primary">Criar nova Tarefa</a>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
    <ul class="task-list">
        {% for task in tasks %}
            <li class="task">
                <a href="details/{{task.id}}" class="task-link">{{ task.title }}</a>
                <div class="icons-container">
                    <a class="edit" href="/edit/{{task.id}}"><i class="fas fa-edit"></i></a>
                    <a class="delete" href="/delete/{{task.id}}"><i class="fas fa-trash"></i></a>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <div class="step-links">
            {% if tasks.has_previous %}
                <a href="?page={{ tasks.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
            {% endif %}
            
            {% if tasks.paginator.num_pages %}
            <span class="current">
                {{ tasks.number }} de {{ tasks.paginator.num_pages }}
            </span>
            {% endif %}
        
            {% if tasks.has_next %}
                <a href="?page={{ tasks.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}